<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medicare</title>
    
</head>
<body>
    <div class="header">
        <div class="header__logo">
             Medicare
        </div>
        <div class="header__search">
            <input class="header__searchInput"
            type="text" />
            <mat-icon class="search__icon">search</mat-icon>

        </div>
        <div class="header__nav">
            <div class="header__option">
                <span class="header__optionlineone">
                      Hello Guest,
                </span>
                <span class="header__optionlinetwo">
                    Sign in
                </span>

            </div>
            <div class="header__option">
                <span class="header__optionlineone">
                    Returns
              </span>
              <span class="header__optionlinetwo">
                  & Orders
              </span>
            </div>
            <div class="header__option">
                <span class="header__optionlineone">
                    yours
              </span>
              <span class="header__optionlinetwo">
                  Prime
              </span>
            </div>
            <div class="cart">
                <mat-icon>add_shopping_cart</mat-icon>

            </div>
            

        
            

        </div>
        


    </div>
    
</body>
</html>
