<form action="" method="post">
    <div class="container">
      <label for="uname"><b>Card holder name</b></label>
      <input type="text"  name="cardholername" required>
  
      <label for="cardNumber"><b>CardNumber</b></label>
      <input type="text" name="cardNumber" required>
      <label for="cvv"><b>cvv</b></label>
      <input type="text" name="cvv" required>
  
      <button type="submit" onclick="order()">submit</button>
      
    </div>
       
  </form>
  <router-outlet></router-outlet>

